* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    text-align: center;
    background-image: url(./fundo.jpg);
}

.content {
    margin-top: 20%;
    font-size: 30px;
    color: rgb(255, 0, 179);
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 100% { opacity:1 }
    50%      { opacity:0 }
}

@-webkit-keyframes blink {
    0%, 100% { opacity:1 }
    50%      { opacity:0 }
}